# Task 2: Iris Dataset

In [26]:
import pandas as pd
import numpy as np
import matplotlib as plt

#### Loading the Iris csv file

In [27]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [28]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## What is the average sepal length for each species of iris?

In [29]:
sepal_avg_len = df.groupby('Species')['SepalLengthCm'].mean()

# Rounding results to 2 deciaml points
sepal_avg_len = sepal_avg_len.round(2)

print(sepal_avg_len)

Species
Iris-setosa        5.01
Iris-versicolor    5.94
Iris-virginica     6.59
Name: SepalLengthCm, dtype: float64

print("Average Sepal Length of Iris-setosa = " + str(sepal_avg_len.iloc[0]) + " cm")
print("Average Sepal Length of Iris-versicolor = " + str(sepal_avg_len.iloc[1]) + " cm")
print("Average Sepal Length of Iris-virginica = " + str(sepal_avg_len.iloc[2]) + " cm")

### Answer: Iris-Setosa = 5.01cm ,  Iris-Versicolor = 5.94cm,  Iris-Virginica  = 6.59cm

## What is the correlation between sepal length and petal length?

In [37]:
correlation = df['SepalLengthCm'].corr(df['PetalLengthCm'])

# rounding the correlation value to two decimal places
rounded_correlation = round(correlation, 2)

print("Correlation between Sepal length and Petal length is = " + str(rounded_correlation))

Correlation between Sepal length and Petal length is = 0.87

### Answer: Correlation = 0.87

## Which species of iris has the largest petals?

In [39]:
# Grouping the Species and Petallength Columns

mean_petal_length = df.groupby('Species').agg({'PetalLengthCm': 'mean'})

# using idxmax() to find highest value in the column

largest_petal_species = mean_petal_length['PetalLengthCm'].idxmax()

print("The species of iris with the largest petals is:", largest_petal_species)

The species of iris with the largest petals is: Iris-virginica

###  Answer : Iris-Virginica